# dependencies
node_modules

# build
/dist
/build
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# logs / coverage
logs
*.log
npm-debug.log*
pnpm-debug.log*
coverage

# OS / IDE
.DS_Store
Thumbs.db
.idea
.vscode

# Prisma generated client
/generated/prisma
/src/generated/prisma
